#gameplay{
  background-color: lightblue;
  border-radius: 10%;
}
.container{
  background-position: center;
  margin-left: 300px;
}
#title{
  text-align:center;
}
body{
  background-image: url("../images/yellow-dice.jpg");

}
.opponent{
  background-color: lightblue;
  margin-top: 50px;
  border-radius: 10%;
}
.game{
display: none;
background-color: lightblue;
margin-top: 50px;
margin-right: 350px;
height: 100px;
  border-radius: 10%;
}
